upstream nginx-backend {
    ip_hash;
{% for element in groups['webservers'] %}
    server {{ element }};
{% endfor %}
}

server {
    listen 60000-65000;

    location / {
        proxy_pass http://nginx-backend;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
